.width_bbspuser1 {
	width: 13%;
}

.width_bbspuser2 {
	width: 18%;
}

.width_bbspuser3 {
	width: 18%;
}

.width_bbspuser4 {
	width: 16%;
}

.width_bbspuser5 {
	width: 20%;
}

.style_bbspuser1 {
	width:130px;
}
.width_bbspuser10_5 {
	width: 5%;
}

.width_bbspuser9_14 {
	width: 14%;
}

.width_bbspuser20_25 {
	width: 25%;
}

.width_bbspuser15_25 {
	width: 25%;
}

.width_bbspuser35_52 {
	width: 52%;
}

.width_bbspuser65_48 {
	width: 48%;
}

