body, td, div, textarea, input, select {
	font-family: "Arial", "";
	font-size: 12px;
}
body {
	margin: 0px;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:link img {
	border: none;
}
a:visited {
	color: #000000;
	text-decoration: underline;
}
a:active {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #f0422a;
	text-decoration: underline;
}
.red {
	color: #ee4227;
}
a.red:link {
	color: #ee4227;
	text-decoration: underline;
}
a.red:visited {
	color: #871503;
	text-decoration: none;
}
a.red:active {
	color: #ee4227;
	text-decoration: none;
}
a.red:hover {
	color: #e33f25;
	text-decoration: none;
}
.whitebold {
	color: #fff;
	font-weight: bold;
}
a.whitebold:link {
	color: #c9c9c9;
	text-decoration: none;
}
a.whitebold:visited {
	color: #c9c9c9;
	text-decoration: none;
}
a.whitebold:active {
	color: #fff;
	text-decoration: none;
}
a.whitebold:hover {
	color: #fff;
	text-decoration: none;
}
.mainbody {
	background-color: #d3d3d3;
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 20px;
}
.text_copyright {
	color: #434343;
	font-family: "Arial";
	font-size: 12px;
	height: 24px;
}
.submit {
	background: #fefefe url(../images/button_bg.gif) center repeat-x;
	font: 12px Arial;
	height: 21px;
	border: #c8c8c8 1px solid;
	padding-left: 5px;
	padding-right: 5px;
}
.l2menubody {
	background: #f6f6f6;
	margin: 0;
}
.bottom_bg {
	background-color: #e2e2e2;
	height: 26px;
}
.input_login {
	border: 1px solid #ccccce;
	background-image: url(../images/login_inupt.gif);
	height: 21px;
	width: 180px;
	padding-left: 5px;
	padding-top: 3px;
}
.input_main {
	border: 1px solid #afafaf;
	line-height: 21px;
}
.bg {
	background-image: url(../images/login_bg.gif);
	background-color: #5a5a5a;
	background-repeat: repeat-x;
}
.banner_bg {
	background-image: url(../images/banner_bg.gif);
	background-repeat: repeat-x;
	height: 70px;
}
.banner_bottom {
	background-color: #990000;
	height: 6px;
}
.info_text {
	text-align: center;
	color: #9d9d9d;
	font-size: 11px;
}
.hg_logo {
	font-family: "Tohama", "Arial", "";
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	color: #4c4c4c;
	padding: 10px;
}
.graybold {
	font-family: "Tohama", "Arial", "";
	font-weight: bold;
	color: #505050;
	font-size: 25px;
	padding-left: 5px;
	white-space: nowrap;
}
.treebg {
	background-color: #f6f6f6;
}
.treemenu1 {
	background-color: #646464;
	height: 25px;
	line-height: 25px;
	border-bottom: #f6f6f6 1px solid;
	font-family: "Tohama", "Arial", "";
	font-weight: bold;
	color: #fff;
	font-size: 12px;
	padding-left: 10px;
}
.treemenu_over1 {
	background-color: #d3d3d3;
	height: 25px;
	line-height: 25px;
	border-bottom: #f6f6f6 1px solid;
	font-family: "Tohama", "Arial", "";
	font-weight: bold;
	color: #990000;
	font-size: 12px;
	padding-left: 10px;
}
.treemenu {
	background-color: #646464;
	height: 25px;
	line-height: 25px;
	border-bottom: #f6f6f6 1px solid;
	font-family: "Tohama", "Arial", "";
	font-weight: bold;
	color: #fff;
	font-size: 12px;
	padding-left: 10px;
}
.treemenu_ex dl dt {
	cursor: pointer;
}
.treemenu_over {
	background-color: #d3d3d3;
	height: 25px;
	line-height: 25px;
	border-bottom: #f6f6f6 1px solid;
	font-family: "Tohama", "Arial", "";
	font-weight: bold;
	color: #990000;
	font-size: 12px;
	padding-left: 10px;
}
.menupathbody {
	background-color: #b7b7b7;
	font-family: "Tohama", "Arial", "";
	color: #000;
	font-size: 12px;
	margin-left: 20px;
	margin-top: 5px;
}
.right_padding {
	padding: 10px;
}
.prompt {
	border: #c5d8e6 1px solid;
	background-color: #feffe0;
	padding: 10px;
	font-family: "Tohama", "Arial", "";
	color: #5c5d55;
	font-size: 12px;
	height: 35px;
}
.tabal_bg {
	background-color: #d8d8d8;
}
.tabal_left {
	background-color: #f2f2f2;
	padding-left: 5px;
	height: 24px;
	line-height: 24px;
}
.tabal_right {
	background-color: #f8f8f8;
	padding-left: 5px;
	height: 24px;
	line-height: 24px;
}
.gray {
	color: #767676;
}
.tabal {
	background-color: #d9d9d9;
}
.tabal_title {
	border: #d9d9d9;
	background-color: #e6e6e6;
	font-family: "Arial", "";
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #000;
	height: 20px;
	line-height: 20px;
}
.tabal_head {
	font-family: "Arial", "";
	font-size: 12px;
	font-weight: bold;
	padding-left: 0px;
	color: #000;
	height: 20px;
	line-height: 20px;
}
.tabal_01 {
	background-color: #f2f2f2;
	font-family: "Arial", "";
	font-size: 12px;
	color: #000000;
	height: 20px;
	line-height: 20px;
	padding-left: 5px;
}
.tabal_02 {
	background-color: #f8f8f8;
	font-family: "Arial", "";
	font-size: 12px;
	color: #000;
	height: 20px;
	line-height: 20px;
	padding-left: 5px;
}
.title_01 {
	color: #5c5d55;
}
.tabal_button {
	border: #f2f2f2;
	background-color: #f2f2f2;
}
.tabal_submit {
	background-color: #f2f2f2;
	padding-left: 5px;
	height: 24px;
	line-height: 24px;
	padding-bottom: 5px;
	padding-top: 5px;
}


/* ???? */

.title_common {
	color: #5c5d55;
	padding-left: 10px;
	width: 100%;
}

.text_log {
	width: 100%;
	height: 330px;
	margin-bottom: 20px;
}

.width_auto {
	width: auto;
}

.width_6p {
	width: 6%;
}

.width_9p {
	width: 9%;
}

.width_10p {
	width: 10%;
}

.width_12p {
	width: 12%;
}

.width_15p {
	width: 15%;
}

.width_16p {
	width: 16%;
}

.width_20p {
	width: 20%;
}

.width_25p {
	width: 25%;
}

.width_30p {
	width: 30%;
}

.width_35p {
	width: 35%;
}

.width_40p {
	width: 40%;
}

.width_50p {
	width: 50%;
}


.width_60p {
	width: 60%;
}

.width_100p {
	width: 100%;
}

.width_98px {
	width: 98px;
}

.width_200px {
	width: 200px;
}

.align_center {
    text-align: center;
}

.pad_l_20px {
    padding-left: 20px;
}

.z_index_2 {
	z-index: 2;
}

.height_5px {
	height: 5px;
}

.color_red1 {
	color: #FF0033;
}

.color_yellow1 {
	color:#FF9966;
	font-size:larger;
}

.color_bule1 {
	color:#3333FF;
}

/*BBSP ??*/
/*??*/
.height3p{
height:3px;
}
.height5p{
height:5px;
}
.height10p{
height:10px;
}
.height15p{
height:15px;
}
.height20p{
height:20px;
}
.height21p{
height:21px;
}

/* ???? */
.width_1p {
	width: 1%;
}
.width_3p {
	width: 3%;
}
.width_5p {
	width: 5%;
}
.width_6p {
	width: 6%;
}
.width_8p {
	width: 8%;
}
.width_9p {
	width: 9%;
}
.width_10p {
	width: 10%;
}
.width_13p {
	width: 13%;
}
.width_14p {
	width: 14%;
}
.width_15p {
	width: 15%;
}
.width_16p {
	width: 16%;
}
.width_17p {
	width: 17%;
}
.width_18p {
	width: 18%;
}
.width_20p {
	width: 20%;
}
.width_25p {
	width: 25%;
}
.width_30p {
	width: 30%;
}
.width_35p {
	width: 35%;
}
.width_40p {
	width: 40%;
}
.width_50p {
	width: 50%;
}
.width_55p {
	width: 55%;
}
.width_60p {
	width: 60%;
}
.width_65p {
	width: 65%;
}
.width_75p {
	width: 75%;
}
.width_80p {
	width: 80%;
}
.width_83p {
	width: 83%;
}
.width_85p {
	width: 85%;
}
.width_87p {
	width: 87%;
}
.width_99p {
	width: 99%;
}
.width_95p {
	width: 95%;
}
.width_100p {
	width: 100%;
}

/* ???? */
.width_20px{
	width:20px;
}
.width_123px{
width:123px;
}
.width_135px{
	width:135px;
}
.width_150px {
	width:150px;
}
.width_155px{
	width:155px;
}
.width_156px {
	width:156px;
}
.width_186px {
	width:186px;
}
.width_200px{
	width:200px;
}
.width_254px{
	width:254px;
}
.width_260px{
	width:260px;
}
/* align  */
.align_left
{
text-align: left;
}
.align_center {
text-align: center;
}
.align_right
{
text-align: right;
}

/* pad  */
.pad_top5p
{
padding-top:5px;
}
.pad_left5p{
padding-left: 5px
}
.pad_left10p
{
padding-left:10px;
}

.color_red{
color:#FF0033;
}

.displaynone{
display:none;
}

.style_ser1{ 
	margin-top: none;
	border: none;
}

.tabal_center01 {
	background-color: #f2f2f2;
	font-family: "Arial", "??";
	font-size: 12px;
	color: #000000;
	height: 20px;
	line-height: 20px;
	padding-left: 5px;
	text-align: center;
}

.submit_bbspuser1 {
	background: #fefefe url(../images/button_bg.gif) center repeat-x;
	font: 12px Arial;
	color: #000;
	height: 20px;
	border:0px;
	padding-left:4px;
	padding-right: 5px;
	margin-top:0px;
}

.title_bright1{
text-align: right;
padding-top:5px;
}

/* amp add */
.width_33p {
	width: 33%;
}

.height_15px {
	height: 15px;
}

.width_23p {
	width: 23%;
}

.align_right {
    text-align: right;
}

.width_10px {
	height: 10px;
}

.width_82p {
	width: 82%;
}

.width_150px {
	width: 150px;
}

.color_red_amp {
	color: #FF0000;
}

.width_123px {
	width: 123px;
}

.width_152px {
	width: 152px;
}

.amp_font {
	font-family: "???";
}


/* าณ */

.height_50p {
	height: 50px;
	}
	
.height_21p {
	height: 21px;
	}
	
.height_15p {
	height: 15px;
	}
	
.height_10p {
	height: 10px;	
	}
	
.height_5p {
	height: 5px;	
	}

.width_5p {
	width: 5%;
}

.width_11p {
	width: 11%;
}

.width_12p {
	width: 12%;
}

.width_13p {
	width: 13%;
}

.width_14p {
	width: 14%;
}

.width_17p {
	width: 17%;
}

.width_18p {
	width: 18%;
}

.width_19p {
	width: 19%;
}

.width_20p {
	width: 20%;
}

.width_24p {
	width: 24%;
}

.width_28p {
	width: 28%;
}

.width_34p {
	width: 34%;
}

.width_70p {
	width: 70%;
}

.width_73p {
	width: 73%;
}

.width_75p {
	width: 75%;
}

.width_76p {
	width: 76%;
}

.wid_40px {
    width: 40px;
}

.wid_50px {
    width: 50px;
}

.wid_70px {
    width: 70px;
}

.wid_125px {
    width: 125px;
}

.wid_150px {
    width: 150px;
}

.wid_155px {
    width: 155px;
}

.wid_383px {
    width: 383px;
}

.wid_100px {
    width: 100px;
}

.wid_280px {
    width: 280px;
}

.tabal_right_pwd {
	background-color: #F8F8F8;
	padding-left: 5px;
	height: 30px;
	line-height: 30px;
}

.tabal_left_pwd {
	1background-color: #eef2f6;
	background-color: #E7E7E7;
	padding-left: 5px;
	height: 30px;
	line-height: 30px;
	font-weight: bolder;
	1border:1px solid #767676;
}

.tabal_pwd_notice {
 background-color: #f8f8f8;
 padding-left: 5px;
 height: 15px;
 line-height: 15px;
}

.filewrap {
    margin: 0; padding: 0;
}
.fileupload {
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    width: 250px;
    height: 22px;
    position: relative;
    white-space: nowrap;
}

#f_file {
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 3;
	width: 182px;
	height: 19px;
	line-height: 18px;
	color: #777777;
	position: absolute;
	text-align: left;
	font-size: 11px;
	font-family: Arial;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid #B5B8C8;
	background-color: #FFFFFF;
}
#t_file {
	right: 0;
	margin: 0;
	padding: 0;
	height: 22px;
	opacity: 0;
	width: 80px;
	filter:alpha(opacity=0);
	position: absolute;
	text-align: left;
	white-space: nowrap;
	z-index: 2;
	cursor: pointer;
}
#f_file1 {
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 3;
	width: 182px;
	height: 19px;
	line-height: 18px;
	color: #777777;
	position: absolute;
	text-align: left;
	font-size: 11px;
	font-family: Arial;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid #B5B8C8;
	background-color: #FFFFFF;
}
#t_file1 {
	right: 0;
	margin: 0;
	padding: 0;
	height: 22px;
	opacity: 0;
	width: 80px;
	filter:alpha(opacity=0);
	position: absolute;
	text-align: left;
	white-space: nowrap;
	z-index: 2;
	cursor: pointer;
}
#btnBrowse {
	right: 0;
	z-index: 1;
	width: 65px;
	text-align: center;
	position: absolute;
	white-space: nowrap;
	text-align: left;
	cursor: pointer;
}
